.DS_Store
*.swp
*.tmp
/META.yml
/_build
/inc

/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Zengin-Client-*

tempCodeRunnerFile*
test.pl
tools/update_sheet.pl
